<div class="marquee trackname">
    <button title="save playlist" onclick="save_playlist()">+</button>
    <div class="marquee-text">
        <div class="marquee-chunk">{{{ trackname }}}</div>
    </div>
    <button title="save playlist" onclick="save_playlist()">+</button>
</div>
