<section class="page" onresize="r(window.innerWidth)">
    {{> trackname trackname=trackname }}
    <div class="heading page-heading">
        <h1>{{display_name}}</h1><span>:{{username}}</span>
        <a href="https://open.spotify.com/" target="_blank">
            <img id="logo" src="public/assets/Spotify_Logo_RGB_White.png" alt="spotify logo" />
        </a>
    </div>
    <section class="curr-lists">
        <div class="heading curr-head">
            <h2>your current tops</h2>
            <div id="popularity" title="popularity of your music taste">
                <span>popularity:</span>
                <i>0</i>
                <span id="pop-ind" style="padding-left: calc({{popularity}}px - 1ch);">*</span>
                <i>100</i>
            </div>
        </div>
        <div class="list-set">
            {{> top-list type='artists' top=artists }}
            {{> top-list type='tracks' top=tracks }}
            {{> top-list type='genres' top=genres }}
        </div>
    </section>
    <section id="chart">
        <h2>chart</h2>
        {{> chart-form ctx=form }}
        <section class="chartarea">
            {{{chart}}}
        </section>
    </section>
    {{> trackname trackname=trackname }}
</section>
<script>
    let d=document,q=z=>d.querySelector(z),a=z=>d.querySelectorAll(z),l=z=>z.classList,n=(z,x)=>z.forEach(x),s=z=>Math.ceil(z),w='selected-tr-btn',m='selected-tr',c=e=>{let t=e.value,k=l(e.parentNode.parentNode).item(1),o=a(`.${k}>.top-list:not(.${t})`),f=a(`.${k} .tab`);n(o,p=>l(p).remove(m));n(f,g=>l(g).remove(w));l(e).add(w);l(q(`.${k} .${t}`)).add(m)},z='selected-cl',y='.empty-legend',h=i=>{let v=a(`.cl${i}`),e=v[s(v.length/2)],x=q(y);n(v,u=>l(u).add(z));if(x){x.innerHTML=e.dataset.key;let b=z=>z.offsetLeft,r=e.parentNode,p=b(r)+r.offsetWidth-x.offsetWidth;x.style.cssText=`top:${e.offsetTop}px;left:${p<b(e)?p:b(e)}px;opacity:1`} },u=i=>{n(a(`.cl${i}`),j=>l(j).remove(z));x=q(y);x.style.opacity=x.innerHTML=''},r=x=>n(a('.marquee-chunk'),z=>n(Array(s(x/1000)).fill(),_=>z.after(z.cloneNode(1))));r(this.innerWidth)
</script>
<script src="public/js/event-handling.js" defer></script>
