/* @media (prefers-color-scheme: light) {
    body {
        background: #fff;
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }
} */

* {
    font-size: 14px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: #000;
    color: #fff;
}

#chart-form {
    margin: 0.83em 0 0.83em 0;
}

#chart-form * {
    font-family: 'Courier New', Courier, monospace;
}

#chart-form input {
    width: 5em;
}

section.chart {
    margin: 0.83em 0;
    white-space: pre-line;
}
