/* @media (prefers-color-scheme: light) {
    body {
        background: #fff;
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }
} */

:root {
    --std-margin: 0.83em;
    --std-bkgd: #111;
    --std-color: #fff;
}

* {
    font-size: 14px;
    font-family: monospace;
}

body {
    background: var(--std-bkgd);
    color: var(--std-color);
}

a {
    color: var(--std-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

section {
    margin: var(--std-margin);
    padding: 10px;
    border: 2px solid #fff;
}

.marquee {
    position: relative;
    overflow: hidden;
}

.marquee-text {
    width: fit-content;
    display: flex;
    position: relative;
    white-space: nowrap;
    transform: translateX(0);
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

#trackname {
    color: #888;
    font-weight: 100;
}

#trackname span {
    display: inline-block;
    color: #0f0;
    margin: 0 5px;
}

#trackname span::first-letter {
    color: #ff0;
}

#trackname span::after {
    content: ",";
}

#trackname span:last-of-type::after {
    content: ' |';
}

#trackname span.tl-letter {
    text-transform: uppercase;
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
    font-style: italic;
    color: #666;
}

#trackname span.tl-letter::first-letter {
    color: #666;
}

.heading {
    display: block;
    position: relative;
    margin: var(--std-margin);
    padding: 10px 0;
}

.heading span {
    color: #888;
}

.heading h1 {
    display: inline-block;
    margin: 0;
}

.heading #logo {
    display: inline-block;
    position: absolute;
    top: calc(var(--std-margin) / 2);
    right: 0;
    height: 24px;
}

section.curr-lists div {
    display: flex;
}

.top-section div * {
    display: inline-block;
    margin-top: var(--std-margin);
}

.top-section div span {
    color: #888;
    font-weight: 100;
    font-style: italic;
    margin-left: 5px;
}

.top-section.artists, 
.top-section.genres {
    flex: 1;
}

.top-section.tracks {
    flex: 1;
}

.top-section .top-head button {
    background: var(--std-bkgd);
    color: #666;
    margin: var(--std-margin);
    border: none;
    font-size: 12px;
}

.top-section .top-head button.selected-tr-btn {
    color: #0f0;
}

.top-section .top-list {
    display: none;
    margin: 0;
    line-height: 16.5px;
    height: 165px;
    overflow: scroll;
}

.top-section .top-list.selected-tr {
    display: block;
}

.top-section .top-list li a span {
    color: #888;
    font-weight: 100;
    font-style: italic;
}

#chart-form {
    margin: var(--std-margin) 0;
}

#chart-form * {
    font-size: 12px;
}

#chart-form input {
    background: #555;
    color: var(--std-color);
    border: none; 
}

#chart-form input[type=number] {
    width: 2em;
    margin: 0;
    padding: 2px;
    text-align: center;
    border-radius: 2px;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* #chart-form input[type=number]:focus {
    outline: none;
} */

#chart-form select {
    background: var(--std-bkgd);
    color: var(--std-color);
    border: none;
}

section.chartarea {
    display: flex;
    position: relative;
    margin: var(--std-margin) 0;
    cursor: default;
}

.yaxis, .plane {
    display: inline-block;
    white-space: pre-line;
}

.yaxis {
    margin: var(--std-margin) 0;
}

.plane {
    margin: var(--std-margin) var(--std-margin) var(--std-margin) 0;
    overflow: scroll;
}

.empty-legend {
    display: block;
    position: absolute;
    top: var(--top);
    left: var(--left);
    margin: var(--std-margin);
    padding: 5px;
    background: var(--std-bkgd);
    color: #fff;
    border-radius: 2px;
    white-space: nowrap;
    pointer-events: none;
}

.selected-cl {
    color: #fff !important;
    text-shadow: #fc0 1px 0 10px;
}
